
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{ 
    
    width:100%;
    background-image: linear-gradient(90deg, rgba(190,55,52,0.3) 0%, rgba(0,49,96,0.2) 35%, rgba(0,49,98,1) 100%), url(https://images6.alphacoders.com/714/thumbbig-714381.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

label{
    display: block;
    font-size: 25px;
}
p{
    color:#ffffff;
    font-size: 2em;
    text-align: center;
}
legend{
    font-size: 25px;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 4.3rem;
    margin: 20px;
}
form{
    width: 100%;
    max-width:600px;
    min-width: 400px;
    display: block;
    margin: 20px auto;
    background: rgba(19, 38, 54, 0.9);
    padding-left: 60px;
    padding-right: 70px;
    color: #ffffff;
    
}

fieldset{

    border:none;
    padding: 2rem 0;
}
fieldset:last-of-type{
    border-bottom: none;
}

input,select,textarea{
    margin:10px 0 0 0;
    width: 99%;
    min-height:3em ;
    font-size: 11px;
}
.Lab{
    margin-top: 10%;
}
.line{
    width: unset;
    margin:0 2em 0 0 ;
    vertical-align: middle;
}

input[type="submit"]{

    cursor: pointer;
    display: block;
    margin:2em auto ;
    width:60% ;
    background-color: rgb(47, 117, 71);
    color: #ffffff;
    font-size: 12px;
    border: 3px solid #ffffff;
}

