*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #000;
    color: #fff;
   
}

.header{
    background-color: #2c0d0d;
    width: 100%;
    height: 10vh;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navegacion{

    grid-column: 2;
    justify-self: end;
    display: flex;
   align-items: center;
}
.navegacion ul{
    font-size: 2rem;
   display: flex;
   gap: 35px;
   list-style: none;
}


.container{

    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
   
}

.container-text h1{

    font-size: 45px;
    text-align:center ;
    width: 100%;
   
   
   
    
}
.container-btn{
    width: 100%;
    display: flex;
    margin-top: 30px;
  justify-content: center;
   
}
.btn-Menu {
    
   color: #000;
   text-align: center;
   font-size: 2em;
   width: 40%;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 10px 10px #550303;
   background-color: #fff;
  
  text-decoration: none;

}
.btn-Menu {
    
   color: #000;
   text-align: center;
   font-size: 2em;
   width: 40%;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 10px 10px #550303;
   background-color: #fff;
  
  text-decoration: none;

}
.btn-Menu {
    
    color: #000;
    text-align: center;
    font-size: 2em;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px #550303;
    background-color: #fff;
   
   text-decoration: none;
 
 }
.btn-Menu {
    
   color: #000;
   text-align: center;
   font-size: 2em;
   width: 40%;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 10px 10px #550303;
   background-color: #fff;
  
  text-decoration: none;

}

.btn-Menu:hover {
  
    background: #7a1d1d;
    color: #fff;
 
 }
 
.fa-solid{
    width: 100%;
    color: #fff;
    font-size: 35px;
} 



.link-nav{

    text-decoration: none;
    color: #fff;

}

.parrafo{

    margin: 20px auto 10px auto;
    font-size: 2em;
    
}

.container-image img{
   
    border-radius: 2000px ;
    box-shadow: 10px 10px 10px 10px #fff ;
    padding: 20px;
    width: 600px;

    animation-name: infiniteupdown;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    animation-timing-function:ease ;
    transition: all .3s;
  
   
}



@keyframes infiniteupdown{

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}
.container-image{

width: 100%;
display: flex;
justify-content: center;
justify-content: center;
 
}
.container-text{

    width: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;
justify-content: center;
}

/*TARGETA*/

.sec-targeta{
  
    width: 100%;
    min-height: 50vh;
    background-color: #2d2121;
}
.sec-2-titulo {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

    
}
.separador{
    width: 100%;
    border-bottom: 5px solid #888989;
    
}
.titulo{

    padding: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.target{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-target{
    background-color: #0b0000;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    margin: 10px 0px;
    font-size: 20px;
}
.target-container{
    background-color: #550303;
    width: 100%;
    min-height: 45vh;
    display: flex;
    padding: 150px;
    justify-content: center;
    align-items: center;
   

    gap: 35px;

}

.menu-oferta{

    width: 230px;
    height: auto;
    padding: 20px;
    
  
}
.menu-oferta2{

    margin-left: auto;
    margin-right: auto;
   
  
}



.target{

    width: 100%;
    background-color: #2c0d0d;
}


/*MEDIA QUERYS*/

@media screen and (max-width:924px){
    
    
.container-image img{
   
 display:none;
  
   
}

.container-text {

   margin-left: 300px;
   
   
   
    
}

.btn-Menu {
    
 
    width: 60%;
    
 
 }

 .navegacion ul{
    font-size: 30px;
   display: flex;
   gap: 35px;
   list-style: none;
}

}


@media screen and (max-width:550px){
    
    
    .container-text {
    
       margin-left: 65px;
        
    }
    
    
    .container{

        width: 85%;
        height: 85vh;
        display: grid;
        place-content: center;
        place-items: center;
    
        flex-wrap: nowrap;
        
    
    }

    .fa-solid{
        width: 100%;
        color: #fff;
        font-size: 20px;
    } 

   
    
}

@media screen and (max-width:280px){
    
    
    .container-text h1{

        font-size: 35px;
        text-align:center ;
        width: 100%;
       
 
    }

    .btn-Menu {
    
        width: 100%;

     }

     .navegacion ul{
        font-size: 15px;
       display: flex;
       gap: 10px;
       list-style: none;
    }

    .parrafo{

        margin: 20px auto 10px auto;
        font-size: 1em;
        
    }

    .container{
        
       margin-right:35px;
        
    
    }

 
    
}


@media screen and (max-height:658px){
    
    
    .container-image img{
   
        border-radius: 2000px ;
        box-shadow: 10px 10px 10px 10px #fff ;
        padding: 20px;
        width: 300px;
    
        animation-name: infiniteupdown;
        animation-duration: 3s ;
        animation-iteration-count: infinite;
        animation-timing-function:ease ;
        transition: all .3s;
      
       
    }

   
    
}