*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    width: 100%;
    height: 100vh; 
}


h1{
    
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    grid-row: 0;
    justify-self: end;
}

/*
.Extra{
    width: 100%;
    background-color: #f8f6f6;
    padding: 20px;
    border-bottom:5px solid #060606;
}
*/

.Main{
    display: grid;
    grid-template-columns: 5fr 5fr;
    background-color:#1b1b1b;
    width: 100%;
    padding: 5px;
    color: #fff;
}

.encabezado2{
    width: 100%;
    background-color:#fff;

}

.ImagenP{
    
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-self: end;
    height: auto;
    width: 60px;
    
}

.Cuerpo{
    display: flex;
   gap: 100px;
    justify-content: ;
    color: #fff;
    font-family: sans-serif;
}

.sec-introduction{
    width: 60%;
    margin: 20px 0px;
     
}
h2{
    text-align: center;
    margin-left: 10px;
    font-size: 2rem;
   
}

.Caja-Menu-left{

background-color: #1b1b1b;
width: 30%;
height: 130vh;
overflow: scroll;
}

#Icono{
    
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
   
}

.checkbt{
    cursor: pointer;
    display: none;
}

.separador{
    width: 100%;
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}



.separador{

    margin-bottom: 40px;

}

.elemento{

    color: #fff;
    text-align: center;
    padding: 20px;
    
  
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    border-style: none;
    color: #fff;
    font-size: 14px;
}

.parrafo{

    width: 95%;
    text-align: start;
    margin: 20px;
    font-size: 14px;
    line-height: 30px;
  
}
/*Footer*/
.div-footer-grid{
    width: 100%;
    background-color: #4e4e4e;
    position: absolute;
    bottom: -160px;
    position: relative;
 
}

.div-footer-grid{

    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr;
}
.div-icon-col-logo{
    grid-column: 1;

}

.pvisitanos{

    
    color: #fff;
    font-family: sans-serif;
    margin: 25px 12px;
}
.fa-brands{   
    font-size: 20px;
    margin: 20px 12px;
}

/*Agregados*/
body::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
  }

body::-webkit-scrollbar-track {
    background: #1b1b1b;        /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 16px;       /* roundness of the scroll thumb */
    border: 3px solid #1b1b1b;  /* creates padding around scroll thumb */
  }

  .Caja-Menu-left::-webkit-scrollbar {
    display:none;           /* width of the entire scrollbar */
  }
  

  
  
  .separador-body{
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }


  /* Media querys viewpor volteado moviles*/





 @media (max-width:912px) {

        .Cuerpo{
            gap: 25px;
        }
        
    
}
 
 