/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/*Cuerpo*/

body{
    background-color: #090c31;
    min-height: 100vh; /*Esto es una propiedad para hacer que ocupe el minimo de la altura del body  que seria el 100%*/
    display: grid;
    place-items: center; /*Propiedad exclusiva del grid sentra horizontal mente y verticalmente*/

}

.calculadora{

    background-color: #15173c;
    color:white;
    width:350px;
    max-width: 100%;
    padding: 1.5em;
    border-radius:1rem ;
    display: grid;
    grid-template-columns:repeat(4,1fr);/*significa que estás creando una cuadrícula con 4 columnas, y cada columna ocupará una fracción igual del espacio disponible.*/
    gap: .5rem;
}

.pantalla{

    grid-column: 1/5;
    background-color: #090c31;
    font-size: 2rem;
    text-align: right;
    border-radius:1rem ;
    font-family: monospace;
    font-size: 600;
    
}

.btn{

    background-color:#15173c ;
    color: #fff;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{

    background-color:#090c31;
}

#cero{

    grid-column: span 2;/* El elemento se extenderá por 2 columnas */
    /* Otros estilos para los elementos dentro de la cuadrícula */
}

#igual{

    grid-row: span 2;/* El elemento se extenderá por 2 filas */
    /* Otros estilos para los elementos dentro de la cuadrícula */
    background-color:#e6394a ;
}

#igual:hover{

    background-color: #e65766;
}
